
        <!-----------MENU LATERAL-------------->
        {% load static %}

        <nav class = "menu-lateral">

            <p> 
                <img src="{% static 'global/img/iconografia/dropdown.png' %}" alt="Custom Icon" class="img-fluid icon" style="height: 60px; width: 60px;">
            </p><!-- btn-expandir -->

            <ul>
                {% if funcionario == 1 %} <!-- MENU FUNCIONÁRIO-->
                <li class="item-menu">
                    <a href="{% url 'servicos' %}">
                        <span class="icon"><i class="bi bi-house"></i></span><!--link do ícone-->
                        <span class="txt-link">Servicos</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'listar_os' %}">
                        <span class="icon"><i class="bi bi-ui-radios"></i></span><!--link do ícone-->
                        <span class="txt-link">OS</span>
                    </a>
                </li>

                <li class="item-menu">
                    <a href="{% url 'funcionario_perfil' %}">
                        <span class="icon"><i class="bi bi-person-circle"></i></span><!--link do ícone-->
                        <span class="txt-link">Conta</span>
                    </a>
                </li>
                {% else %} <!--MENU CLIENTE-->
                <li class="item-menu">
                    <a href="{% url 'home_cliente' %}">
                        <span class="icon"><i class="bi bi-box"></i></span><!--link do ícone-->
                        <span class="txt-link">Início</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'cadastrar_os_cliente' %}">
                        <span class="icon"><i class="bi bi-postcard-heart"></i></span><!--link do ícone-->
                        <span class="txt-link">Cadastrar OS</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'cliente_perfil' %}">
                        <span class="icon"><i class="bi bi-person-circle"></i></span><!--link do ícone-->
                        <span class="txt-link">Conta</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'lista_notifications' %}">
                        <span class="icon"><i class="bi bi-bell"></i></span><!--link do ícone-->
                        <span class="txt-link">Notificações</span>
                    </a>
                </li>

                {% endif %} <!-- LOGIN/LOGOUT DOS DOIS-->
                <li class="item-menu">
                    <a href="{% url 'logout' %}">
                        <span class="icon"><i class="bi bi-box-arrow-left"></i></span><!--link do ícone-->
                        <span class="txt-link">Logout</span>
                    </a>
                </li>
                
            </ul><!--lista de links-->
        
        </nav> <!-- FINAL DO MENU LATERAL -->