
        <!-----------MENU LATERAL-------------->
        {% load static %}

        <nav class = "menu-lateral">

            <p> 
                <img src="{% static 'global/img/iconografia/dropdown.png' %}" alt="toggle - botão sanduíche" class="img-fluid icon" style="height: 60px; width: 60px;">
            </p><!-- btn-expandir -->

            <ul>
                {% if funcionario == 1 %} <!-- MENU FUNCIONÁRIO-->
                <li class="item-menu">
                    <a href="{% url 'servicos' %}">
                        <img src="{% static 'global/img/iconografia/servicos.png' %}" alt="servicos" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Servicos</span>
                    </a>
                </li>
                <li id="lista_os" class="item-menu">
                    <a href="{% url 'listar_os' %}">
                        <img src="{% static 'global/img/iconografia/OS.png' %}" alt="lista de os" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Lista OS</span>
                    </a>
                </li>

                <li class="item-menu">
                    <a href="{% url 'funcionario_perfil' %}">
                        <img src="{% static 'global/img/iconografia/perfil.png' %}" alt="perfil" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Conta</span>
                    </a>
                </li>
                {% else %} <!--MENU CLIENTE-->
                <li class="item-menu">
                    <a href="{% url 'home_cliente' %}">
                        <img src="{% static 'global/img/iconografia/home.png' %}" alt="home" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Início</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'cadastrar_os_cliente' %}">
                        <img src="{% static 'global/img/iconografia/OS.png' %}" alt="cadastrar novo serviço" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Cadastrar Serviço</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'cliente_perfil' %}">
                        <img src="{% static 'global/img/iconografia/perfil.png' %}" alt="logout" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Conta</span>
                    </a>
                </li>
                <li class="item-menu">
                    <a href="{% url 'lista_notifications' %}">
                        <img src="{% static 'global/img/iconografia/notif.png' %}" alt="logout" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Notificações</span>
                    </a>
                </li>

                {% endif %} <!-- LOGIN/LOGOUT DOS DOIS-->
                <li class="item-menu">
                    <a href="{% url 'logout' %}">
                        <img src="{% static 'global/img/iconografia/logout.png' %}" alt="logout" class="img-fluid icon" style="height: 60px; width: 60px;">
                        <span class="txt-link">Logout</span>
                    </a>
                </li>
                
            </ul><!--lista de links-->
        
        </nav> <!-- FINAL DO MENU LATERAL -->