{% extends 'global/base.html' %}

{% block content %}
    <h2>Cadastrar Nova Ordem de Serviço</h2>

    <form method="post">
        {% csrf_token %}

        <label for="aparelho">Aparelho:</label><br>
        <input type="text" id="aparelho" name="aparelho" required><br><br>

        <label>Garantia:</label><br>
        <input type="radio" name="garantia" id="garantia_sim" value="True" required>
        <label for="id_garantia_sim">Sim</label>

        <input type="radio" name="garantia" id="garantia_nao" value="False" required>
        <label for="garantia_nao">Não</label><br><br>

        <label for="descricao_problema">Descrição do Problema:</label><br>
        <textarea id="descricao_problema" name="descricao_problema" rows="4" cols="50" required></textarea><br><br>

        <input type="submit" value="Cadastrar">
    </form>
{% endblock %}