{% extends 'global/base_logins.html' %}

{% block body %}
    <div class="container">
        <h2>LOGIN CLIENTE</h2>

        <form class="login" method="post">
            {% csrf_token %}
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="text" id="username" name="username" placeholder="Username" required><br>

            <input type="password" id="senha" name="senha" placeholder="Senha" required><br><br>

            <input type='submit' value='ENTRAR' class='btn btn-light'>

        </form>
        <p>Não possui uma conta? <a href="{% url 'cliente_cadastro' %}">Fazer Cadastro</a></p>
    </div>
{% endblock %}
