{% extends 'global/base.html' %}

{% block content %}

<div class="title_detalhes_os">
  <h5 class="card-title">ORDEM DE SERVIÇO: {{ numero_os }}</h5>
</div>
<div class="container-detalhes_os">
  <div class="card mb-3 mx-auto" style="max-width: 1350px">
    <h5>STATUS: <span class="dynamic-info">{{ detalhes_da_os.status }}</span></h5>
    <div class="row g-0">
      <div class="col-md-4">
        {% if os.imagem %}
          <img src="{{ os.imagem.url }}" class="card-img-top img-fluid rounded-start" alt="{{ os.descricao }}">
        {% else %}
          <svg
            class="bd-placeholder-img img-fluid rounded-start"
            width="100%"
            height="315"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Image"
            preserveAspectRatio="xMidYMid slice"
            focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
          </svg>
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body d-flex">
          <div class="ul-column flex-grow-1">
            <ul class="list-group">
              <li class="list-group-item">Aparelho: <span class="dynamic-info">{{ detalhes_da_os.aparelho }}</span></li>
              <li class="list-group-item">Data de Entrada: <span class="dynamic-info">{{ os.created_at|date:"d/m/Y" }}</span></li>
              <li class="list-group-item">Tipo de Produto: <span class="dynamic-info">{{ detalhes_da_os.modelo }}</span></li>
              <li class="list-group-item">Cliente: <span class="dynamic-info">{{ os.perfil_os.nome }}</span></li>
              <li class="list-group-item">Contato: <span class="dynamic-info">{{ os.perfil_os.contato }}</span></li>
              <li class="list-group-item">Tipo de Atendimento: <span class="dynamic-info">{{ detalhes_da_os.tipo_atendimento }}</span></li>
              <li class="list-group-item">Problema relatado: <span class="dynamic-info">{{ detalhes_da_os.descricao_problema }}</span></li>
              {% if os.status != 'Enviada' %}
                <li class="list-group-item">Técnico Responsável: <span class="dynamic-info">{{ funcionario_responsavel|default:"OS sem responsável" }}</span></li>
                <li class="list-group-item">Garantia: <span class="dynamic-info">{{ detalhes_da_os.garantia }}</span></li>
              {% endif %}
            </ul>
          </div>
          <div class="flex-shrink-0 ms-3">
            {% if os.status == 'Enviada' %}
              <form method="post" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-success" name="responsabilizar">Responsabilizar-se</button>
              </form>
            {% else %}
            <div class="box-mensagem-funcionario">
              <h6>Comentários para o Cliente:</h6>
              <div class="comment-bubble mt-3">
                <p>{{ detalhes_da_os.mensagem_funcionario|default:"Nenhum comentário feito" }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if os.status == 'Pronto' %}
            <div class="details-page__info-actions">
                {% if os.avaliacao %}
                    <p id="avaliacao_detalhes">Avaliação do cliente: <span class="rating" data-rating="{{ os.avaliacao }}"></span></p>
                {% endif %}
            </div>
        {% endif %}
  </div>
</div>
<div class="btn-detalhes">
  <a href="{% url 'editar_os' os.id %}" class="btn btn-primary">Atualizar informações</a>
</div>
{% endif %}

<script type="text/javascript">
  function renderStars(rating) {
      let stars = '';
      for (let i = 0; i < 5; i++) {
          if (i < rating) {
              stars += '★'; // Filled star
          } else {
              stars += '☆'; // Empty star
          }
      }
      return stars;
  }

  window.onload = function() {
      var ratingElements = document.getElementsByClassName('rating');
      for (var i = 0; i < ratingElements.length; i++) {
          var ratingElement = ratingElements[i];
          var rating = ratingElement.getAttribute('data-rating');
          ratingElement.innerHTML = renderStars(rating);
      }
  }
</script>


{% endblock %}
