{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<title>Detalhes da Ordem de Serviço</title>

<link rel="stylesheet" type="text/css" href="{% static 'css/details_page.css' %}">

<div class="container-detalhes_os">
    <div class="card mb-3 mx-auto" style="max-width: 1350px">
      <h5>STATUS: <span class="dynamic-info">{{ detalhes_da_os.status }}</span></h5>
      <div class="row g-0">
        <div class="col-md-4">
          {% if os.imagem %}
            <img src="{{ os.imagem.url }}" class="card-img-top img-fluid rounded-start" alt="{{ os.descricao }}">
          {% else %}
            <svg
              class="bd-placeholder-img img-fluid rounded-start"
              width="100%"
              height="315"
              xmlns="http://www.w3.org/2000/svg"
              role="img"
              aria-label="Placeholder: Image"
              preserveAspectRatio="xMidYMid slice"
              focusable="false">
              <title>Placeholder</title>
              <rect width="100%" height="100%" fill="#868e96"></rect>
              <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text>
            </svg>
          {% endif %}
        </div>
        <div class="col-md-8">
          <div class="card-body d-flex">
            <div class="ul-column flex-grow-1">
              <ul class="list-group">
                <li class="list-group-item">Data de Entrada: <span class="dynamic-info">{{ os.numero|default:"-" }}</span></li>
                <li class="list-group-item">Data de Entrada: <span class="dynamic-info">{{ os.created_at|date:"d/m/Y" }}</span></li>
                <li class="list-group-item">Tipo de Atendimento: <span class="dynamic-info">{{ os.tipo_atendimento }}</span></li>
                <li class="list-group-item">Status: <span class="dynamic-info">{{ os.status }}</span></li>
                <li class="list-group-item">Contato: <span class="dynamic-info">{{ os.perfil_os.contato }}</span></li>
                <li class="list-group-item">Tipo de Atendimento: <span class="dynamic-info">{{ detalhes_da_os.tipo_atendimento }}</span></li>
                <li class="list-group-item">Problema relatado: <span class="dynamic-info">{{ detalhes_da_os.descricao_problema }}</span></li>
                {% if os.status != 'Enviada' %}
                  <li class="list-group-item">Técnico Responsável: <span class="dynamic-info">{{ funcionario_responsavel|default:"OS sem responsável" }}</span></li>
                {% endif %}
              </ul>
            </div>
            <div class="flex-shrink-0 ms-3">
              {% if os.status == 'Enviada' %}
                <form method="post" class="mt-3">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-success" name="responsabilizar">Responsabilizar-se</button>
                </form>
              {% else %}
              <div class="box-mensagem-funcionario">
                <h6>Comentários do Funcionário:</h6>
                <div class="comment-bubble mt-3">
                  <p>{{ detalhes_da_os.mensagem_funcionario|default:"Nenhum comentário feito" }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if os.status == 'Pronto' %}
            <div class="details-page__info-actions">
                {% if os.avaliacao %}
                <a href="{% url 'avaliar_os' os.id %}" class="btn btn-outline-secondary">Editar Avaliação</a>
                <p>Sua avaliação:<span class="rating" data-rating="{{ os.avaliacao }}"></span></p>
                {% else %}
                <a href="{% url 'avaliar_os' os.id %}" class="btn btn-outline-secondary">Avaliar Ordem de Serviço</a>
                {% endif %}
            </div>
            {% endif %}
  </div>
    <div class="details-page__status">
        <section class="step-wizard">
            <ul class="step-wizard-list">
                <li class="step-wizard-item {% if os.status == 'Iniciada' %}current-item{% endif %}">
                    <span class="progress-count">1</span>
                    <span class="progress-label">Iniciada</span>
                </li>
                <li class="step-wizard-item {% if os.status == 'Em_analise' %}current-item{% endif %}">
                    <span class="progress-count">2</span>
                    <span class="progress-label">Em análise</span>
                </li>
                <li class="step-wizard-item {% if os.status == 'Aguardando_peca' %}current-item{% endif %}">
                    <span class="progress-count">3</span>
                    <span class="progress-label">Aguardando peça</span>
                </li>
                <li class="step-wizard-item {% if os.status == 'Aguardando_reparo' %}current-item{% endif %}">
                    <span class="progress-count">4</span>
                    <span class="progress-label">Aguardando reparo</span>
                </li>
                <li class="step-wizard-item {% if os.status == 'Em_reparo' %}current-item{% endif %}">
                    <span class="progress-count">5</span>
                    <span class="progress-label">Em reparo</span>
                </li>
                <li class="step-wizard-item {% if os.status == 'Pronto' %}current-item{% endif %}">
                    <span class="progress-count">6</span>
                    <span class="progress-label">Pronto</span>
                </li>
            </ul>
        </section>
    </div>
    {% endif %}
</section>

<script type="text/javascript" src="{% static 'js/details_page.js' %}">
    function renderStars(rating) {
        let stars = '';
        for (let i = 0; i < 5; i++) {
            if (i < rating) {
                stars += '★'; // Filled star
            } else {
                stars += '☆'; // Empty star
            }
        }
        return stars;
    }

    window.onload = function() {
        var ratingElements = document.getElementsByClassName('rating');
        for (var i = 0; i < ratingElements.length; i++) {
            var ratingElement = ratingElements[i];
            var rating = ratingElement.getAttribute('data-rating');
            ratingElement.innerHTML = renderStars(rating);
        }
    }
</script>

{% endblock %}
