{% extends 'global/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Meu Perfil</h1>
    <p><strong>Nome:</strong> {{ perfil.nome }}</p> <!-- Atualizado para usar o objeto perfil diretamente -->
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>CPF:</strong> {{ perfil.cpf }}</p> <!-- Adicionado campo CPF -->
    <p><strong>Contato:</strong> {{ perfil.contato }}</p> <!-- Adicionado campo Contato -->
    <a href="{% url 'funcionario_editar_perfil' %}" class="btn btn-primary">Editar Perfil</a>
    <a href="{% url 'excluir_conta' %}" class="btn btn-danger">Excluir Conta</a>
</div>
{% endblock %}
