{% extends 'global/base_logins.html' %}

{% block body %}
    <div class="container" style="text-align: center;">
        <h2 style="font-weight: bold;">LOGIN FUNCIONÁRIO</h2>

        <form class="login" method="post" style="text-align: center;">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <!-- Campo de Username -->
            <div>
                <label for="username">Username:</label>
                <input 
        type="text" 
        placeholder="Usuário" 
        id="username"
        name="username"
        value="{{username}}"
        required>
            </div>

            <!-- Campo de Senha -->
            <div>
                <label for="senha">Senha:</label>
                <input type="password" placeholder="Senha" id="password" name="senha" value="{{senha}}" required>
            </div>

            <p style='text-align:center; margin-bottom: 20px;'>Não possui uma conta? <a href="{% url 'funcionario_cadastro' %}">Fazer Cadastro</a></p>

            <input type='submit' value='ENTRAR' class='btn btn-light' style='background-color:#007bff; color:white; border:none; padding:5px 20px;'>

        </form>
    </div>
{% endblock %}
