{% extends 'global/base_logins.html' %}

{% block body %}
    <div class="container">
        <h2>LOGIN FUNCIONÁRIO</h2>

        <form class="login" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <input type="text" placeholder="Username" id="username" name="username" value="{{username}}" required>
           
            <input type="password" placeholder="Senha" id="password" name="senha" value="{{senha}}" required>
            
            <input type='submit' value='ENTRAR' class='btn btn-light'>
        </form>
        <p>Não possui uma conta? <a href="{% url 'funcionario_cadastro' %}">Fazer Cadastro</a></p>
    </div>
{% endblock %}
