{% extends 'global/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-8">
        <h2 class="fw-normal">Ordens de serviços cadastradas!</h2>
        </div>
    </div>
    <div>
        {% if ordens %}
            <table class="table table-striped-columns">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Contato</th>
                    <th scope="col">Aparelho</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Açoes</th> <!-- Nova coluna para botões de ação -->
                </tr>
                </thead>
                <tbody>
                    {% for os in ordens %}
                    <tr>
                        <th scope="row">{{ os.numero }}</th>
                        <td>{{ os.perfil_os.username }}</td> <!--primeiro nome-->
                        <td>{{ os.perfil_os.contato }}</td>
                        <td>{{ os.aparelho }}</td>
                        <td>{{ os.modelo }}</td>
                        <td>
                            <div class="btn-group">
                                {% csrf_token %}
                                <a href="{% url 'detalhes_os' os.id%}" class="btn btn-sm btn-outline-secondary">Ver mais</a>
                            </div>
                            <form action="{% url 'excluir_os' os.id %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
        <div class="col-lg-4">
            <p>Não há nada por aqui...</p>
        </div>
        {% endif %}
    </div>
{% endblock %}