{% load static %}

{% block styles %}
<style>
</style>
{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="logo-placeholder">
            <img src="{% static 'global/css/imagens/logo.virtu.PNG' %}" alt="Logo Virtù">
        </div>
        <h1>VIRTÙ</h1>
        <h2>Bem Vindo!</h2>
        <form method="post">
            {% csrf_token %}
            <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-primary" type="submit" id="cliente" name="tipo_usuario" value="cliente">
                    <a href="{% url 'login_cliente' %}" class="botao">SOU CLIENTE</a>
                </button>
                <button class="btn btn-primary" type="submit" id="funcionario" name="tipo_usuario" value="funcionario">
                    <a href="{% url 'login_funcionario' %}" class="botao">SOU FUNCIONÁRIO</a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}
