{% extends 'global/base_logins.html' %}

{% block body %}
    <h2 style="text-align: center; font-weight: bold;">LOGIN CLIENTE</h2>

    <form method="post" style="text-align: center;">
        {% csrf_token %}

        <label for="login" style="display: block; font-weight: bold;">LOGIN</label>
        <input type="text" id="login" name="login" placeholder="E-mail" required style="margin-bottom: 20px;"><br>

        <label for="senha" style="display: block; font-weight: bold;">SENHA</label>
        <input type="password" id="senha" name="senha" placeholder="Senha" required style=""><br><br>

        <input type='submit' value='Entrar' style='background-color:black; color:white; border:none; padding:5px 20px;'>

    </form>

    <p style='text-align:center;'>Não possui uma conta? <a href="{% url 'login_cad_cliente' %}">Fazer Cadastro</a></p>
{% endblock %}