{% extends 'global/base_logins.html' %}

{% block body %}
    <div class="center-wrapper">
        <div class="form-container py-5 text-center">
            <div class="wrapper">
                <form method="post">
                    {% csrf_token %}
                    <h1>Cadastro de Funcionário</h1>
                
                    <div class="input-box">
                        <input 
                            type="text" 
                            placeholder="Nome Completo" 
                            id="nome_completo"
                            name="nome_completo"
                            value="{{nome_completo}}"
                            required>
                        <i class='bx bx-user'></i>
                    </div>
                
                    <div class="input-box">
                        <input 
                            type="email" 
                            placeholder="Email" 
                            id="email"
                            name="email"
                            value="{{email}}"
                            required>
                        <i class='bx bxs-envelope'></i>
                    </div>
                
                    <div class="input-box">
                        <input 
                            type="password"
                            placeholder="Senha"
                            id="senha"
                            name="senha"
                            required>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>

                    <div class="input-box">
                        <input 
                            type="password"
                            placeholder="Confirmar Senha"
                            id="confirmar_senha"
                            name="confirmar_senha"
                            required>
                        <i class='bx bxs-lock-alt' ></i>
                    </div>
                
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                
                    <button 
                        type="submit" 
                        class="btn"
                        name="tipo_usuario"
                        value="Cadastrar_func">Cadastrar</button>
                
                    <div class="register-link">
                        <a href="{% url 'login_funcionario' %}">Já possui uma conta? Faça login aqui.</a>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
{% endblock %}
