{% extends 'global/base_logins.html' %}

{% block body %}
    <h2>Login Funcionário</h2>

    <form method="post">
        {% csrf_token %}

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required><br><br>

        <input type="submit" value="Login">
    </form>

    <p>Não possui uma conta? <a href="apps/login_cad_func.html">Fazer Cadastro</a></p>
{% endblock %}