{% extends 'global/base_logins.html' %}

{% block body %}
<h2>Prezado cliente, preencha as seguintes informações para realizar seu cadastro.</h2>

    <form method="post">
        {% csrf_token %}
        
        <label for="nome_completo">Nome Completo:</label><br>
        <input type="text" id="nome_completo" name="nome_completo" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="cpf">CPF:</label><br>
        <input type="text" id="cpf" name="cpf" required><br><br>

        <label for="data_nascimento">Data de Nascimento:</label><br>
        <input type="date" id="data_nascimento" name="data_nascimento" required><br><br>

        <label for="contato">Número para contato:</label><br>
        <input type="text" id="contato" name="contato" required><br><br>

        <label for="aparelho">Aparelho a ser avaliado:</label><br>
        <input type="text" id="aparelho" name="aparelho" required><br><br>

        <label for="garantia">Possui garantia?</label><br>
        <input type="radio" id="sim" name="garantia" value="sim">
        <label for="sim">Sim</label><br>
        <input type="radio" id="nao" name="garantia" value="nao">
        <label for="nao">Não</label><br><br>

        <label for="situacao_atual">Situação do aparelho:</label><br>
        <input type="text" id="situacao_atual" name="situacao_atual" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
