{% extends 'global/base_logins.html' %}

{% block body %}
    <h2>Prezado funcionário,<br>preencha as seguintes informações para realizar seu cadastro:</h2>

    <form method="post">
        {% csrf_token %}
            
        <label for="nome_completo">Nome Completo:</label><br>
        <input type="text" id="nome_completo" name="nome_completo" required><br><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <label for="senha">Senha:</label><br>
        <input type="password" id="senha" name="senha" required><br><br>

        <label for="confirmar_senha">Confirmar Senha:</label><br>
        <input type="password" id="confirmar_senha" name="confirmar_senha" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>
{% endblock %}