<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Funcinário</title>
    {% load static %}
    <style>
    </style>
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
</head>
<body>
    <div class="container">
        {% block body %}
        <h2>Prezado funcionário,<br>preencha as seguintes informações para realizar seu cadastro:</h2>

        <form method="post">
            {% csrf_token %}
            
            <label for="nome_completo">Nome Completo:</label><br>
            <input type="text" id="nome_completo" name="nome_completo" required><br><br>

            <label for="cpf">CPF:</label><br>
            <input type="text" id="cpf" name="cpf" required><br><br>

            <label for="data_nascimento">Data de Nascimento:</label><br>
            <input type="date" id="data_nascimento" name="data_nascimento" required><br><br>

            <label for="contato">Número para contato:</label><br>
            <input type="text" id="contato" name="contato" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="senha">Senha:</label><br>
            <input type="password" id="senha" name="senha" required><br><br>

            <label for="confirmar_senha">Confirmar Senha:</label><br>
            <input type="password" id="confirmar_senha" name="confirmar_senha" required><br><br>

            <button type="submit">Cadastrar</button>
        </form>
        {% endblock %}
    </div>
</body>
</html>
