.logo-placeholder {
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}
/*oi*/
h2 {
    text-align: center;
    margin-top: 20px;
}

.botao-cliente,
.botao-funcionario {
    width: 100%;
    font-size: xx-large;
}

.botao {
    text-decoration: none;
    color: white;
}

.container {
    width: 500px; /* Defina a largura desejada */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    margin-bottom: 1px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login input[type="submit"] {
    width: 00%;
    margin-bottom: 1px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

p a {
    text-decoration: none;
    color: #007bff;
}

p a:hover {
    text-decoration: underline;
}


