@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Mono&family=Righteous&family=Silkscreen:wght@400;700&display=swap');

:root {
    --color-neutral-0: #0e0c0c; /* Preto */
    --color-neutral-10: #171717; /* Cinza escuro */
    --color-neutral-30: #a8a29e; /* Cinza claro */
    --color-neutral-40: #f5f5f5; /* Branco */
    --color-background: #edf2f7;
    --color-azul-virtu: #2E54D1; 
    --color-azul-escuro: #0F2167;
    --color-azul-esquisito: #2E88D1;
    --color-destaque-azul: #2E54D1;
    --color-destaque-laranja: #F24726;
    --color-destaque-verde: #86D12E;
}

* {
    font-family: "NanumGothic", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--color-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-placeholder {
    text-align: center;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
    color: var(--color-azul-virtu);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* offsetX, offsetY, blurRadius, color */
}

h2 {
    text-align: center;
    margin-top: 10px;
    color: var(--color-neutral-40);
}

.botao-cliente,
.botao-funcionario {
    width: 60%;
    font-size: x-large;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
}

.botao {
    text-decoration: none;
    color: white;
}

.botao-funcionario {
    background-color: var(--color-azul-esquisito); /* cor inicial */
    border: none; /* para remover o contorno */
    margin-left: 10px;
}

.botao-funcionario:hover {
    background-color: var(--color-azul-virtu); /* cor quando o mouse passa por cima */
}

.botao-funcionario:hover .botao {
    color: var(--color-neutral-30); /* cor do texto quando o mouse passa por cima */
}

.botao-cliente {
    background-color: var(--color-azul-esquisito); /* cor inicial */
    border: none; /* para remover o contorno */
    margin-right: 10px;
}

.botao-cliente:hover {
    background-color: var(--color-azul-virtu); /* cor quando o mouse passa por cima */
}

.botao-cliente:hover .botao {
    color: var(--color-neutral-30); /* cor do texto quando o mouse passa por cima */
}

.container {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.div-img {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Define uma altura para a div */
    padding: 10px;
}

.div-img img {
    max-width: 230px; /* Defina a largura máxima desejada */
}

.cadastrar, .cadastro_cliente {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

.cadastrar {
    width: 100%;
    border-radius: 5px;
    padding: 20px;
}

.cadastro_cliente {
    width: 50%;
    padding: 10px;
}

.cadastro_cliente input[type="text"],
.cadastro_cliente input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

.cadastro_cliente input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #2e54d1;
    color: white;
    cursor: pointer;
    display: flex;
}

.cadastro_cliente input[type="submit"]:hover {
    background-color: #0056b3;
}

h2 {
    text-align: center;
    color: #0F2167;
    padding: 10px;
}

#h2_login {
    text-align: center;
    margin-top: 10px;
    color: var(--color-neutral-10);
}

.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 100px;
}

.login input[type="submit"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 100px;
    background-color: #2e54d1;
    color: white;
    cursor: pointer;
    display: flex;
}

.login input[type="submit"]:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
    color: #0056b3;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

/* Flexbox layout for responsiveness */
.div_1_2 {
    display: flex;
    flex-wrap: wrap; /* Permite que as divs se ajustem em novas linhas */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    gap: 20px; /* Espaço entre as divs */
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.div1 {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.div1 img {
    max-width: 300px; /* Defina a largura máxima desejada */
    height: auto; /* Isso garante que a altura seja ajustada automaticamente para manter a proporção da imagem */
}


.div2, .div3 {
    flex: 1 1 300px; /* Permite que as divs cresçam e encolham, com um tamanho mínimo de 300px */
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent; /* Removendo fundo azul claro */
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    .div_1_2 {
        flex-direction: column; /* Empilha as divs verticalmente */
    }

    .botao-cliente,
    .botao-funcionario {
    width: 100%;
    }
}
