:root {
    --color-neutral-0: #0e0c0c; /* Preto */
    --color-neutral-10: #171717; /* Cinza escuro */
    --color-neutral-30: #a8a29e; /* Cinza claro */
    --color-neutral-40: #f5f5f5; /* Branco */
    --color-background: #edf2f7;
    --color-azul-virtu: #2E54D1; 
    --color-azul-escuro: #0F2167;
    --color-azul-esquisito: #2E88D1;
    --color-destaque-azul: #2E54D1;
    --color-destaque-laranja: #F24726;
    --color-destaque-verde: #86D12E;
}

/* PERSONALIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
}

body {
    min-height: 100vh;
    background-color: var(--color-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* MENU */
nav.menu-lateral {
    z-index: 1000;
    width: 82px;
    height: 100%;
    background-color: #202020;
    padding: 40px 0px 2px 1%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: width 0.2s;
}

nav.menu-lateral:hover {
    width: 300px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li.item-menu {
    transition: background-color 0.2s;
}

ul li.item-menu:hover {
    background: var(--color-azul-escuro);
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 30px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 9px;
}

/* ORGANIZANDO O CORPO */
.corpo {
    margin-left: 120px;
    padding-top: 40px;
}

/* Styling for #container-servicos */
#container-servicos {
    background-color: var(--color-neutral-40); /* Fundo branco */
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    padding: 20px;
}

/* Card Styles */
.card {
    background: #ffffff; /* Fundo branco */
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000; /* Texto preto */
    padding: 20px;
    overflow: hidden;
}

.card:hover {
    /*transform: translateY(-10px);*/
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Additional Styling for Card Content */
.card-body {
    color: #000; /* Texto preto */
}

.card-text {
    color: #000; /* Texto preto */
}

.btn-outline-secondary {
    color: #000; /* Texto preto */
    border-color: #000; /* Borda preta */
}

.btn-outline-secondary:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #000; /* Texto preto */
    border-color: #000; /* Borda preta */
}

/* Placeholder Image Styling */
.bd-placeholder-img {
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    border-radius: 10px;
}

.btn-lg,
.text-center {
    margin-top: 20px;
}

h2.text-center,
.form-group {
    font-size: larger;
}

/* Detalhes da OS para o Cliente */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.div1 {
    grid-area: 1 / 1 / 4 / 3;
}

.div2 {
    grid-area: 1 / 3 / 4 / 6;
}

.div3 {
    grid-area: 2 / 1 / 3 / 6;
}

.div3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 30px;
}

body {
    font-family: "Poppins", sans-serif;
}

.step-wizard-list {
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 20px 10px;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
}

.step-wizard-item {
    padding: 0 20px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
}

.step-wizard-item + .step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #21d4fd;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}

.progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
}

.progress-count:after {
    content: "";
    height: 40px;
    width: 40px;
    background: #21d4fd;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}

.progress-count:before {
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}

.progress-label {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before {
    display: none;
}

.current-item ~ .step-wizard-item .progress-count:after {
    height: 10px;
    width: 10px;
}

.current-item ~ .step-wizard-item .progress-label {
    opacity: 0.5;
}

.current-item .progress-count:after {
    background: #fff;
    border: 2px solid #21d4fd;
}

.current-item .progress-count {
    color: #21d4fd;
}

.form-group {
    margin-top: 20px;
}

textarea[readonly] {
    background-color: #f8f9fa;
    cursor: not-allowed;
}

/* Avaliação da OS */
.avaliacao {
    display: flex;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px; /* alterar o tamanho das estrelas */
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo::before,
.star-icon:hover::before,
.star-icon:hover ~ .star-icon::before {
    content: "\2605";
}

.star-icon.ativo ~ .star-icon::before {
    content: "\2606";
}

#tabela {
    border-radius: 15px;
    overflow: hidden;
    background-color: #f0f0f0; /* Cor de fundo da tabela */
}
#tabela thead th {
    background-color: var(--color-azul-escuro); /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto do cabeçalho */
}
#tabela tbody tr:nth-child(even) {
    background-color: #dfefff; /* Cor das linhas pares */
}
#tabela tbody tr:nth-child(odd) {
    background-color: var(--color-background); /* Cor das linhas ímpares */
}
#tabela tbody tr:hover {
    background-color: #d6d8db; /* Cor de fundo ao passar o mouse */
}

#ver-mais-lista-os{
    color: #2E54D1;
}

#container-servicos{
    background-color: var(--color-neutral-40);
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    padding: 20px;
}

.title_detalhes_os {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-detalhes {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-right: 30px;
}

.btn-detalhes a{
    border-radius: 20px;
}