/*PERSONALIZAÇÃO GERAL*/
*{
    margin: 0;
    padding: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /*fonte da ltra do site*/
}

body{
    height: 100vh;
}

/*PERSONALIZAÇÕES ESPECÍFICAS*/

/* MENU */
nav.menu-lateral{
    width: 80px; /*TENHO QUE MEXER AQ PRA VER O QUANTO VAI CORTAR O TXT*/
    height: 100%;
    background-color: #202020;
    padding: 40px 0px 40px 1%;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;
}

nav.menu-lateral:hover{
    height: 300px; /*TENHO QUE MEXER AQ PRA VER O QUANTO VAI mostrar O TXT*/
}

.btn-expandir{ /*botão*/
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{/*botão personalizar*/
    color: white;
    font-size: 24px;
    cursor: pointer; /*avisa ao cursor que é clicável*/
}

ul{
    height: 100%;
    list-style-type: none; /*tira as bolinhas que estriam na ul*/
}

ul li.item-menu{
    transition: .2s; /*ta transição da cor do css abaixo vai ficar com transição dos sehundos indicados*/
}

ul li.item-menu:hover{
    background: rgba(5, 210, 217, 0.947); /*toda vez que o mouse passar por cima vai ficar dessa cor*/
}

ul li.item-menu a{
    color: white;
    text-decoration: none; /*tira o sublinhado do link*/
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px; /*alinha o texto com o ícone*/
}

ul li.item-menu a .txt-link{
    margin-left: 40px; /*afasta o íncone do texto*/
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px; /*MEXER AQ TAMBÉM PARA OS ÍCONES N FICAREM GRUDADOS NA PONTA*/
}